<div class="registry-container">
  <h3 class="registry-text">Our Registries</h3>
  <p class="registry-text">
    We've been a couple for nearly ten years.  Between all the birthdays, holidays, and anniversaries,
    Dave has gotten more kitchen supplies that he can shake his five wooden spoons at.  So instead, we've decided to split
    our registry into three different categories.
  </p>
  <br />
  <a href="https://www.wanderable.com/hm/emilyanddavid6232018" target="_blank" class="registry-text">The Honeymoon (click here)</a>
  <p class="registry-text">
    If you'd like to help us have an awesome adventure on our honeymoon, you can help us financially at the link above.  You can pay by credit card (there is a small fee),
    or by cash (hand delivered to the wedding).  Either way, you're helping us to have a wonderful start to our married life.
  </p>
  <br />
  <a href="https://www.amazon.com/wedding/david-hynek-emily-deleo-pittsburgh-june-2018/registry/1PZPNGWQL527Q" target="_blank" class="registry-text">The Gifts (click here)</a>
  <p class="registry-text">
    If you'd like to get us a more traditional gift, use the link above to view gifts that we've registered for on Amazon.
  </p>
  <br />
  <a class="registry-text">The Home</a>
  <p class="registry-text">
    Call us late-bloomers, but after we're married we'd like to start looking for a home.  Dave wants a bigger kitchen to make more smoked meats and cheesecakes,
    Emily wants big windows and places to relax outside, and Nemi wants a bigger yard with a new friend.  If you'd like to help make this dream a reality, we
    greatly appreciate monetary gifts that we can use towards this goal.
  </p>
</div>
